
			body {
				font-family: Open Sans;
				text-align: center;
				font-size: .5em;

			}

			nav {
				
			}

			nav a {
				text-decoration: none;
				color: grey;
				padding: 15px;
				font-size: 1.2em;

			}

			nav a:hover{
				color: black;
				text-decoration: none;
				padding: 15px;
				font-size: 1.7em;
				transition: 2s;

			}
			h1, h2, nav, p {
			}

			#header {
				font-family: Dosis Light 600;
				font-size: 3em;


			}

			h2 {
				font-family: Dosis Light 300;
				line-height: .6em;
				font-size: 1.4em;
				padding: 2px;

			}

			h3 {

			}
			img {
				width:250px;
				padding-bottom: 3px;


			}
			
			#tourimage {
				width:350px;
			}

			p {
				
			}

			.caption {
				font-weight: bold;
				font-size: 7px;
				line-height: .4em;
				
	    }

	    hr {
	    	border-top: 1px solid;
	    }

	    #tourbreak {
	    	border-top: 1px;
	    	border-color: grey;
	    }

		#table {
			font-size: 1.2em;
			line-height: 1.7em;
			padding: 5px;
			width= 250px;
			margin: auto;
			
		}

		.grey {
			background-color: #CCCCCC;
			width: 175px;
			margin: auto;
		}

		.white {
			margin: auto;
		}
			a {

			}

			figure {
				margin-bottom: 0px;
			
			}

			figure figcaption{
				margin-top: 0px;

			}



			ul{

			}

			li {
			}

			li:nth-child(even){

			}
			li:nth-child(odd){
			
			}
