body {
	margin: auto;
	font-family: PT Sans, sans serif;
}

nav, h3, blockquote {
	font-family: Reem Kufi;
}

/*Can't figure out why some of these nav rules aren't working (color and text-decoration, for example*/

nav {
	text-decoration: none;
	color: white;
	background-color: black;
	text-align: center;
	text-transform: uppercase;
	padding: 10px;
	word-spacing: 2em;
}

a:hover {
	color: yellow;
	text-decoration: none;
	font-size: 1.1em;
	transition: .5s;
	
}

h1 {
	text-transform: uppercase;
	letter-spacing: .5em;
	margin-top: 175px;
}

p {
	margin-top: 20px;
	margin-bottom: 20px;
	font-style: italic;
	text-align: center;
}

img {
	width: 350px;
}

#content {
	column-count: 2;
	column-rule-style: solid;
	column-rule-width: 1px;
	margin-top: 75px;
	margin-bottom: 75px;
}

#copy {
	color: white;
}

figure {
	float: right;
}

#intro {
	text-align: center;
	margin-top: 125px;
	line-height: 1.5em;
}

#photos {
	column-count: 3;
	column-rule-width: 1px;
	margin-top: 75px;
	margin-left: 50px;
}

main {
	column-count: 2;
	margin: 50px 150px 50px 150px;
}

.about {
	text-align: left;
	margin-top: 25px;
	margin-bottom: 15px;
	font-style: normal;
}

.calle:hover {
	text-decoration: none;
	font-style: bold;
	color: black;
	transition: 0s;
}
